.layout {
  display: flex;
  min-height: 100vh;
  position: relative;
}

.page-container {
  position: relative;
  flex-grow: 1;
  margin-left: 260px;
  transition: all 0.3s ease;
  background: #f9fafb;
  padding: 2rem;
  min-height: 100vh;
  width: calc(100% - 260px);
}

.layout.sidebar-collapsed .page-container {
  margin-left: 80px;
  width: calc(100% - 80px);
}
